
$color-primary: #E9E9E9;
$color-secondary: #000000;
$color-tertiary: #DDDFE2;
$color-white: #F3F4F5;
$color-blue: #6B63FF;
$color-olive: #778179;
$color-pink: #FF6584;

$font-body: "Open Sans",
"Tahoma";
$font-display: "Nova Mono",
"Times New Roman";

