
$color-primary: #E9E9E9;
$color-secondary: #000000;
$color-tertiary: #DDDFE2;
$color-red: #B42828;
$color-white: #F3F4F5;


$font-body: "Open Sans",
"Tahoma";
$font-display: "Nova Mono",
"Times New Roman";

