@import './variables';

.home-image {
    background-image: url(/images/alexander-shatov-PHH_0uw9-Qw-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}

.title-cont {
    background-color: $color-background;

    .title {
        font-size: 10vh;
        font-family: $font-body;
        color: transparent;
        -webkit-text-stroke: 1px $color-orange ;
        background: url(/images/back.png);
        -webkit-background-clip: text;
        background-position: 0 0;
        animation: back 20s linear infinite;
    }
    @keyframes back{
        100%{
            background-position: 2000px 0;
        }
    }

    .title-info {
        color: $color-primary;
        font-family: $font-body;
        font-size: 18px;
    }

    .create-info {
        color: orange;
        font-family: $font-body;
        font-size: 18px;
        font-style: italic;

    }
}

.about-main-cont {
    background-color: $color-background;
    padding-top: 7rem;
    padding-bottom: 7rem;

    .about-main {
        background-color: $color-background;

        .about-cont {
            margin-right: 4rem;
        }

        .about-title {
            color: $color-orange;
            font-family: $font-body;
            font-size: 60px;
        }

        .about-info {
            color: $color-primary;
            font-family: $font-body;
            font-size: 16px;
            
        }

        .browsing-icon {
            background-color: $color-background;
        }
    }
}

.icons {
    background-color: $color-background;
    padding-bottom: 5rem;

    .fab {
        color: $color-orange;
    }
}


.education-cont {
    background: $color-background;
    padding-bottom: 5rem;

    .education {
        font-family: $font-body;
        color: $color-primary;
        font-size: 40px;
        color: $color-orange;
    }
    .uni {
        font-family: $font-body;
        color: $color-orange;
        font-size: 20px;
    }
    .education-info {
        font-family: $font-body;
        color: $color-primary;
    }

    .nology {
        font-family: $font-body;
        color: $color-orange;
        font-size: 20px;
    }
 
    .bon {
        font-family: $font-body;
        color: $color-primary;
    }

    .trainee {
        font-family: $font-body;
        color: $color-primary;
    }

    .trainee-info {
        font-family: $font-body;
        color: $color-primary;
        
    }

    .two-one {
        color: $color-primary;
    }
}

.project-cont {
    background-color: $color-background;
    padding-bottom: 7rem;

    .project {
        font-family: $font-body;
        font-size: 60px;
        color: $color-orange;
        padding-bottom: 2rem;
    }

    .card-title {
        font-family: $font-display;
        color: $color-primary;
    }

    .card-text {
        font-family: $font-body;
        color: $color-primary;
    }
}

.contact-main-cont {
    background-color: $color-background;

    .contact {
        padding-top: 2rem;
        padding-bottom: 2rem;

        .contact-cont {
            max-width: 80%;
        }
        .get-in-touch {
            font-family: $font-body;
            color: $color-orange;
            font-size: 60px;
        }
        .contact-sub {
            font-family: $font-body;
            color: $color-primary;
            max-width: 70%;
        }

        .email {
            font-family: $font-body;
            color: $color-primary;
        }

        .email-id {
            font-family: $font-display;
            font-style: italic;
            color: $color-orange;
        }

        .icons {
            word-spacing: 6px;
        }
        
        .my-img {
            width: 200px;
            height: 200px;
        }

        .fill-cont {
        
            background-color: $color-white;
            
        }

        .fb {
            font-family: $font-body;
        }
    }
}

@media screen and (min-width: 1350px) {
    .title-2 {
        font-size: 15vh;
    }
}

@media screen and (max-width: 767px) {
    .girl-img {
        display: none;
    }
    
}

@media screen and (max-width:767px) {
    .programmer-img {
        display: none;
    }
}

@media screen and (min-width: 993px) {
    .about-info {
        font-size: 16px;
    }
}

@media screen and (max-width: 991px) {
    .about-info {
        font-size: 12px;
    }
    .about-info {
        max-width: 800px;

    }
}

@media screen and (min-width: 1350px) {
    .project {
        font-size: 15vh;
    }
}

@media screen and (min-width: 390px) {
    .info-cont {
        padding: 2rem;
    }
}

@media screen and (max-width: 572px) {
    .inbox {
        display: none;
    }
}

@media screen and (max-width: 572px) {
    .stars {
        display: none;
    }
}


