@import './variables';

.home-cont {

    .title-1 {
        font-family: $font-display;
    }
    .title-2 {
        font-family: $font-display;
        color: $color-blue;
    }
    .title-3 {
        font-family: $font-display;
    }
    .title-sub {
        font-family: $font-body;
        font-style: italic;
        
    }

}



.main-cont {

    .about-cont {
        background-color: $color-white;

        .about-cont-sub {
            background-color:$color-white;
        
            .about-title {
                color: $color-blue;
                font-family: $font-display;
            }
            .about-info {
                font-family: $font-body;
                color: $color-secondary;
            }
        }
    }
    

    

   
}


.project-cont {
    h1 {
        font-family: $font-display;
    }

    .card-title {
        font-family: $font-display;

        .card-text {
            font-family: $font-body;
        }
    }

}

.education-cont {
    .education {
        font-family: $font-display;
    }
    .uni {
        font-family: $font-display;
        color: $color-pink;
    }
    .education-info {
        font-family: $font-body;
    }

    .nology {
        font-family: $font-display;
        color: $color-pink;
    }
 
    .bon {
        font-family: $font-body;
        color: $color-blue;
    }

    .trainee {
        font-family: $font-body;
        color: $color-blue;
    }

    .trainee-info {
        font-family: $font-body
        
    }
}

.contact {

    .contact-cont {
        background-color: $color-white;
        max-width: 80%;
    }
    .get-in-touch {
        font-family: $font-display;
        color: $color-blue;
    }
    .contact-sub {
        font-family: $font-body;
        max-width: 70%;
    }

    .email {
        font-family: $font-body;
    }

    .email-id {
        font-family: $font-display;
        font-style: italic;
        color: $color-pink;
    }

    .icons {
        word-spacing: 6px;
    }
    
    .my-img {
        width: 200px;
        height: 200px;
    }

    .fill-cont {
       
         background-color: $color-white;
        
    }

    .fb {
        font-family: $font-body;
    }
}

@media screen and (max-width: 767px) {
    .girl-img {
        display: none;
    }
    
}

@media screen and (max-width:767px) {
    .programmer-img {
        display: none;
    }
}

@media screen and (min-width: 993px) {
    .about-info {
        font-size: 16px;
    }
}

@media screen and (max-width: 991px) {
    .about-info {
        font-size: 12px;
    }
    .about-info {
        max-width: 800px;

    }
}

@media screen and (min-width: 390px) {
    .info-cont {
        padding: 2rem;
    }
}

@media screen and (max-width: 572px) {
    .inbox {
        display: none;
    }
}

@media screen and (max-width: 572px) {
    .stars {
        display: none;
    }
}


