@import './variables';



.navbar {
    background-color: $color-primary;
   

    .nav-home {
        background-color: $color-primary;

        .navbar-brand {
            font-family: $font-display;
            font-style: italic;
            padding: 0px;
            margin: 0px;
            color: $color-secondary;
            font-size: 40px;
        }   
    }

    .navbar-nav {
        font-family: $font-display;
        width: 400px;
        font-size: 1.25rem;
        margin-left: auto;
        color: $color-secondary;

        .nav-link {
            color: $color-secondary;
        }
    }

   
    a:hover {
        color: $color-primary !important;
        
    }

    .ham-icon {
        color: $color-primary;
    }
    
}