
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Open+Sans:wght@300&display=swap');

$font-body: "OpenSans", "tahoma";
$font-display: "AnticDidone", "arial";

$color-primary: #d1d1c9;
$color-secondary: #000000;
$color-red: #B42828;
$color-white: #EEEAEA;

