
$color-primary: #E9E9E9;
$color-secondary: #000000;
$color-tertiary: #DDDFE2;
$color-white: #F3F4F5;
$color-background: #0F1012;
$color-orange: orange;

$font-body: "Shippori Antique B1",
"Tahoma";
$font-display: "Anton",
"Times New Roman";
$font-logo: "Road Rage", "Arial";


